/* -- colors -- */
html,
body {
  height: 100%;
  background-color: #333;
  color: #fff;
}
.site-wrapper {
  display: table;
  width: 320px;
  height: 100%;
  min-height: 100%;
  margin: auto;
}
.index-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 5%;
}
.search-container {
  max-width: 320px;
  min-width: 320px;
  margin: auto;
}
#terms {
  height: 43px;
  font-size: 18px;
}
#search-btn {
  margin-top: 3px;
  width: 100%;
}
.search-results-container {
  max-width: 320px;
  min-width: 320px;
  margin: auto;
  word-wrap: break-word;
}
p {
  color: grey;
}
p h1 {
  color: purple;
}
