{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RepoRanker</title>
  <!-- favicon -->
  <!-- <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico"> -->
  <link href="{% static 'reporanker/css/lib/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'reporanker/css/lib/bootstrap-social.css' %}" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href="{% static 'reporanker/css/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'reporanker/css/cover.css' %}" rel="stylesheet">
  <link href="{% static 'reporanker/css/reporanker.css' %}" rel="stylesheet">
  <link href="{% static 'reporanker/css/docs.css' %}" rel="stylesheet">
</head>

<body>
  <div class="site-wrapper">
     {% block body_content%}
     {% endblock %}
  </div>
  <script src="{% static 'reporanker/js/dist/lib.min.js' %}"></script>
  <script src="{% static 'reporanker/js/dist/app.min.js' %}"></script>
</body>
</html>
