{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RepoRanker</title>
  <!-- favicon -->
  <!-- <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico"> -->
  <link href="{% static 'reporanker/css/lib/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'reporanker/css/lib/bootstrap-social.css' %}" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href="{% static 'reporanker/css/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'reporanker/css/reporanker.css' %}" rel="stylesheet">
  <link href="{% static 'reporanker/css/slidebars.css' %}" rel="stylesheet">
</head>

<body>
  <div class="sb-site">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-collapse" id="bs-example-navbar-collapse-5">
          <p class="navbar-text navbar">
              <a class="sb-toggle-left" href="#">
                <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-th-list"></span>
                </button>
              </a>
              {% if request.user.is_authenticated %}
              <span class="pull-right username">{{ request.user }}</span>
              {% endif %}
          </p>
        </div>
      </div>
    </nav>
    <div class="site-wrapper">
      {% block body_content%}
      {% endblock %}
    </div>
  </div>

  <div class="sb-slidebar sb-left sb-active">
    <nav>
      <ul class="sb-menu">
        <li><img src="http://plugins.adchsm.me/slidebars/images/slidebars-logo-white@2x.png" alt="Slidebars" width="118" height="40"></li>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
	{% if request.user.is_authenticated %}
	<li><a href="/logout">Logout ({{request.user.username}})</a></li>
	{% else %}
	<li><a href="/login">Login</a></li>
	{% endif %}
        <li><small>RepoRanker &copy; 2014</small></li
      </ul>
    </nav>
  </div>

  <script src="{% static 'reporanker/js/dist/lib.min.js' %}"></script>
  <script src="{% static 'reporanker/js/dist/app.min.js' %}"></script>
  {% block script %}
  {% endblock %}
</body>
</html>
