{% extends 'reporanker/base.html' %}

{% block body_content %}
  <div class="index-container">
    <div class="index-content">
      <div class="div-header">
        <h3 class="index-title">RepoRanker</h3>
      </div>
      <p class="tag-line lead">Social Reviews for GitHub repositories</p>
      <p>
        {% if user.username %}
          <a class="btn btn-block btn-social btn-github" href="{% url 'search-view' %}"><i class="icon glyphicon glyphicon-search"></i> Search Repos</a>
        {% else %}
          <a class="btn btn-block btn-social btn-github" href="{% url 'social:begin' 'github' %}" > <i class="fa fa-github"></i> Sign in with GitHub</a>
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
