{% extends 'reporanker/base.html' %}

{% block body_content %}
  <div class="index-container">
    <h1>RepoRanker</h1>
    <p class="lead">Social Reviewing for GitHub repositories</p>
    <p class="lead">
      {% if user.username %}
        <a class="btn btn-block btn-social btn-lg btn-linkedin" href="{% url 'search-view' %}"><i class="icon glyphicon glyphicon-search"></i> Search Repos</a>
      {% else %}
        <a class="btn btn-block btn-social btn-lg btn-linkedin" href="{% url 'social:begin' 'github' %}" > <i class="fa fa-github"></i> Sign in with GitHub</a>
      {% endif %}
    </p>
  </div>
{% endblock %}
