{% extends 'reporanker/base.html' %}

{% block body_content %}
  <div class="text-center">
    <h1 class="cover-heading"><a href="{{ object.html_url }}">{{ object.name }}</a></h1>
    <hr/>
  </div>
  <div>
    <ul>
      <li><strong>Maintainer:</strong> {{ object.owner_name }}</li>
      <li></li>
  </div>
Start Count: {{ object.star_count }}<br />
Watchers Count: {{ object.watchers_count }}<br />
Forks Count: {{ object.forks_count }}<br />
Open Issues Count: {{ object.open_issue_count }}<br />
Language: {{ object.language }}<br />
Desctipion: {{ object.description }}<br />

<br/>
{% if not user_reviewed %}
<a href="{% url 'repo-review-view' object.id %}"> Add your own review!  </a>
{% endif %}
<br/>
{% for review in object.ordered_review_set.all|slice:":10" %}
Octocats: {{review.octocats}}<br/>
Comment: {{review.comment}}<br/>
{% empty %}
There are no reviews yet
{% endfor %}
{% endblock %}
