{% extends 'reporanker/base.html' %}
{% load staticfiles %}

{% block body_content %}
  <div class="detail-container">
    <div class="detail-header">
      <p><span class="detail-name"><a href="{{ object.html_url }}">{{ object.name }}</a></span> <br/><span class="detail-description">{{object.description}}</span></p>
    </div>

    <div class="detail-body">
      Owner: {{ object.owner_name }}<br/>
      Language: {{ object.language }}<br/>
      {% if object.get_average_octocats %}
      Octocats: {{ object.get_average_octocats }}<br/>
      {% endif %}
      <div>
        <span class="octocon octocon-stars"></span> {{ object.star_count }}
        <span class="octocon octocon-eye-watch"></span> {{ object.watchers_count }}
        <span class="octocon octocon-forks"></span>  {{ object.forks_count }}
        <span class="octocon octocon-issues"></span> {{ object.open_issue_count }}
      </div>
      <div class="octo-icon-detail">
        {% if average_octocats %}
          <span><img src="{% static 'reporanker/img/octo_32_black.png' %}" alt="octo_cat">= {{average_octocats}}</p></span>
        {% endif %}
      </div>
    </div>
  </div>

    {% if not user_reviewed %}
    <div class="detail-review-none">
      <p class="detail-review-none-text">You have not reviewed this repo yet. <a href="{% url 'repo-review-view' object.id %}"></p><p class="detail-review-none-link">Click to Submit a Review</a></p>
    </div>
    {% endif %}

    {% for review in reviews %}
      <div class="detail-review">
        <strong>Reviewer:</strong> {{review.review.user}}<br/>
        <strong>Octocat Rating:</strong> {{review.review.octocats}}<br/>
        <div class="review-votes">
          {% if not review.opinion %}
              <button id='upvote' name='upvote' class="upvote-btn" style="border: 0; background: transparent" onclick='vote("up", {{review.review.pk}})'><i class="icon glyphicon glyphicon-thumbs-up"></i></button>
              <button id='downvote' name='downvote' class="downvote-btn" style="border: 0; background: transparent" onclick='vote("down", {{review.review.pk}});'><i class="icon glyphicon glyphicon-thumbs-down"></i></button>
          {% else %}
            {% if review.opinion.helpful %}
              <button id='{{ review.opinion.id }}_upvoted' name='upvoted' class="upvote-btn upvoted" style="border: 0; background: transparent"><i class="icon glyphicon glyphicon-thumbs-up"></i></button>
              <button id='{{ review.opinion.id }}_downvote' name='downvote' class="downvote-btn" style="border: 0; background: transparent" onclick='vote("down", {{review.review.pk}});'><i class="icon glyphicon glyphicon-thumbs-down"></i></button>
            {% else %}
              <button id='{{ review.opinion.id }}_upvote' name='upvote' class="upvote-btn" style="border: 0; background: transparent" onclick='vote("up", {{review.review.pk}})'><i class="icon glyphicon glyphicon-thumbs-up"></i></button>
              <button id='{{ review.opinion.id }}_downvoted' name='downvoted' class="downvote-btn downvoted" style="border: 0; background: transparent"><i class="icon glyphicon glyphicon-thumbs-down"></i></button>
            {% endif %}
          {% endif %}
        </div>
        <strong>Comment:</strong> {{review.review.comment}}<br/>
      </div>
    {% endfor %}
    <script type="text/javascript">
      var token = '{{csrf_token}}';
      var vote = function(vote_verb, review){
        $.ajax({
          type: "POST",
          url: "/repo/rep/",
          data: {
            "vote": vote_verb,
            "review": review,
            "csrfmiddlewaretoken": token
          },
          success: function(response){
            window.location.reload();
          }
        });
      };
    </script>

{% endblock %}
