{% extends 'reporanker/base.html' %}

{% block body_content %}
<div class="search-container">
  <div class="search-form">
    <form action="." method="GET">
      <input id="terms" name="terms" type="text" class="form-control" placeholder="Enter Repo Name"/>
      <button id="search-btn" class="btn btn-lg btn-primary">Search</button>
    </form>
  </div>

  <div class="seperator"></div>

  <div class="search-results-container">
    {% for repo in repos %}
      <div class="search-result">
        <a href="{% url 'repo-detail-view' slug=repo.full_name %}">{{repo.name}}</a>
        <p>{{repo.owner}} <span class="octocon octocon-forks"></span> {{repo.forks}} <span class="octocon octocon-stars"></span> {{repo.stars}} <span class="octocon octocon-issues"></span> {{repo.issues}}</p>
        {% if repo.octocats %}
        <p>{{ repo.octocats }}</p>
        {% else %}
        <!-- grey octocat -->
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
