{% extends 'reporanker/base.html' %}
{% load staticfiles %}

{% block body_content %}
<div class="search-container">
  <div class="search-form">
    <form action="." method="GET">
      <input id="terms" name="terms" type="text" class="form-control" placeholder="Enter Repo Name"/>
      <button id="search-btn" class="btn btn-lg btn-primary">Search</button>
    </form>
  </div>


  <div class="search-results-container">
    {% if repos %}
      <div class="seperator"></div>
    {% endif %}
    {% for repo in repos %}
      <div class="search-result">
        <a href="{% url 'repo-detail-view' slug=repo.full_name %}">{{repo.name}}</a>
        <p class="repo-owner">Owner: {{repo.owner}}</p>
        <p><span class="octocon octocon-forks"></span> {{repo.forks}} <span class="octocon octocon-stars"></span> {{repo.stars}} <span class="octocon octocon-issues"></span> {{repo.issues}}</p>
        <div class="octo-icon">
          {% if repo.octocats %}
            <span><img src="{% static 'reporanker/img/octo_32_black.png' %}" alt="octo_cat">= {{repo.octocats}}</p></span>
          {% else %}
            <img src="{% static 'reporanker/img/octo_32_grey.png' %}" alt="octo_cat">= 0
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
